---
import Layout from "../layouts/Layout.astro";
import Input from "fulldev-ui/components/Input.astro";
import Button from "fulldev-ui/components/Button.astro";
import Section from "fulldev-ui/components/Section.astro";
import Column from "fulldev-ui/components/Column.astro";
---

<Layout title="AddEvent">
    <form action="/api/events" method="POST" class="event-form">
        <Section align="center">
            <Column>
                <Section align="center">
                    <Input
                        label="Start Time"
                        icon="clock-hour-2"
                        name="start"
                        type="datetime-local"
                        required
                    />
                    <Input
                        label="End Time"
                        icon="clock-hour-4"
                        name="end"
                        type="datetime-local"
                        required
                    />
                    <Input
                        label="Longitude"
                        icon="world-longitude"
                        name="long"
                        type="number"
                        class="long"
                        placeholder="40.7826"
                        required
                    />
                    <Input
                        label="Latitude"
                        icon="world-latitude"
                        name="lat"
                        type="number"
                        class="lat"
                        placeholder="-73.9656"
                        required
                    />
                    <Input
                        label="Event Name"
                        icon="heading"
                        name="title"
                        type="text"
                        placeholder="Recycling Fest @ Central Park"
                        required
                    />
                    <Input
                        label="Event Description"
                        icon="quote"
                        name="contents"
                        type="text"
                        placeholder=""
                        required
                    />
                    <Button color="brand" class="publish">Publish</Button>
                </Section>
            </Column>
        </Section>
    </form>
</Layout>

<script>

    // @ts-ignore
    if (!window.isAuthenticated()) {
        window.location.href = '/login';
    }

    // fill in long and lat based on location
    // request to geocoding api
    const long = document.querySelector('#longitude') as HTMLInputElement;
    const lat = document.querySelector('#latitude') as HTMLInputElement;
    
    const location = navigator.geolocation;
    if (location) {
        location.getCurrentPosition(async (position) => {
            const { latitude, longitude } = position.coords;
            long.value = longitude + "";
            lat.value = latitude + "";
            console.log(position.coords);
        });
    }

    const publishButton = document.querySelector('.publish') as HTMLButtonElement;
    const eventForm = document.querySelector('.event-form') as HTMLFormElement;

    publishButton.addEventListener('click', async (e) => {
        e.preventDefault();

        const formData = Object.fromEntries(new FormData(eventForm));
        // convert start and end to ISO string
        // @ts-ignore
        formData.start = new Date(formData.start).toISOString();
        // @ts-ignore
        formData.end = new Date(formData.end).toISOString();

        const response = await fetch('/api/events', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                // @ts-ignore
                'Authorization': `Bearer ${getToken().split('=')[1]}`,
            },
            body: JSON.stringify(formData),
        });
        if (response.ok) {
            alert('Event published!');
            window.location.href = '/feed';
        } else {
            alert('Invalid event details');
        }
    });

</script>
