---
import Layout from '../layouts/Layout.astro';
import Input from 'fulldev-ui/components/Input.astro';
import Button from 'fulldev-ui/components/Button.astro'
import Section from 'fulldev-ui/components/Section.astro';
import Column from 'fulldev-ui/components/Column.astro';
---

<Layout title="Register">
    <form action="/api/register" class="register" method="POST">
        <Section align='center'>
            <Column>
                <Section align="center">
                <Input
                label="Name"
                icon="user"
                name="name"
                type="text"
                placeholder="John_Doe"
                required
                />
                <Input
                label="Password"
                icon="password"
                name="password"
                type="password"
                placeholder="Password"
                required
                />
                <Input
                label="Email"
                icon="mail"
                name="email"
                type="email"
                placeholder="johndoe@example.com"
                required
                />
                <Button color="brand" class="register-button">Register</Button>
              </Section>
            </Column>
        </Section>
    </form>
</Layout>

<!-- <script>
    const loginForm = document.querySelector('.login') as HTMLFormElement;
    const loginButton = document.querySelector('.login-button') as HTMLButtonElement;

    loginButton.addEventListener('click', async (e) => {
        e.preventDefault();
        const response = await fetch('/api/login', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Object.fromEntries(new FormData(loginForm))),
        });
        // check if resopnse is ok
        if (response.ok) {
            // redirect to dashboard
            window.location.href = '/feed';
            const data = await response.json();
            // set cookie token to store user session
            document.cookie = `token=${data.token}`;
        } else {
            // show error message
            alert('Invalid email or password');
        }
    });
</script> -->

<script>
    const registerForm = document.querySelector('.register') as HTMLFormElement;
    const registerButton = document.querySelector('.register-button') as HTMLButtonElement;

    registerButton.addEventListener('click', async (e) => {
        e.preventDefault();
        const response = await fetch('/api/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify(Object.fromEntries(new FormData(registerForm))),
        });
        // check if resopnse is ok
        if (response.ok) {
            const data = await response.json();
            // set cookie token to store user session
            document.cookie = `token=${data.token}`;
            // redirect to dashboard
            window.location.href = '/login';

        } else {
            // show error message
            alert('Invalid email or password');
        }
    });
</script>