---
import { slide, ViewTransitions } from 'astro:transitions';
import Header from 'fulldev-ui/components/Header.astro'
import Footer from 'fulldev-ui/components/Footer.astro'

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en"
transition:animate={slide({
	duration: "0.5s",
})}>
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Activism and events near you!" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>EarthEcho - {title}</title>
		<ViewTransitions fallback="animate" />
	</head>
	<body>
		<Header
			heading="EarthEcho",
			transition:animate="none",
			links={[
				{
					text: 'Blog',
					href: '/blog',
				}
			]}
			buttons={[
				{
					text: 'Feed',
					href: '/feed',
					contrast: true
				},
				{
					text: 'Organizations',
					href: '/organizations',
					contrast: true
				},
				{
					text: 'Register',
					href: '/register',
					contrast: true,
				},
				{
					title: 'Login',
					icon: 'user-circle',
					href: '/login',
					contrast: true,
				}
			]}
			frame="panel"
			position="relative"
		/>
		<slot />
	</body>
</html>

<script>
	function isAuthenticated() {
		// read document.cookie and get field 'token'
		const token = document.cookie.split('; ').find(row => row.startsWith('token='));
		// if token is not found, return false
		return token ? true : false;
	}

	const authenticated = isAuthenticated();
	// remove login and register buttons if user is authenticated
	const registerButton = document.querySelector("a[href='/register']") as HTMLAnchorElement;
	const loginButton = document.querySelector("a[href='/login']") as HTMLAnchorElement;
	if (authenticated) {
		registerButton.remove();
		loginButton.remove();
	}
</script>